# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Django specific
*.log
*.pot
*.pyc
db.sqlite3
db.sqlite3-journal

# Environment variables
.env

# Media files (optional, if you store user-uploaded files here)
media/

# Static files (optional, if collected in this directory)
staticfiles/

# Virtual environment
venv/
env/
ENV/

# VS Code settings (optional)
.vscode/

# PyCharm settings (optional)
.idea/

# OS-specific
.DS_Store
Thumbs.db
